<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="terrain-ramps_1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.26667 4.2633E-14 0.15556"
        rpy="0 0 0" />
      <mass
        value="216" />
      <inertia
        ixx="8.4533"
        ixy="-1.2975E-16"
        ixz="-1.04"
        iyy="8.2133"
        iyz="-1.6958E-16"
        izz="12.72" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://terrain-ramps_1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://terrain-ramps_1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>