<?xml version="1.0"?>
<model>
  <name>RS_Helios_5515</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf><!-- model.sdf model.urdf.xacro-->

  <author>
    <name>skywalker1941</name>
    <email></email>
  </author>

  <description>
    A model of a RS_Helios_5515 LiDAR sensor.
  </description>

</model>
