<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="terrain-ramps_3">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.5519 1.202 0.22801"
        rpy="0 0 0" />
      <mass
        value="4041.8" />
      <inertia
        ixx="211.64"
        ixy="-2.3511E-14"
        ixz="1.3857E-13"
        iyy="243.43"
        iyz="-4.144"
        izz="260.27" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://terrain-ramps_3/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://terrain-ramps_3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>