<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="terrain-lab_small">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.38171 -7.1054E-15 0.24134"
        rpy="0 0 0" />
      <mass
        value="756.9" />
      <inertia
        ixx="44.114"
        ixy="-2.08"
        ixz="-2.1324"
        iyy="46.025"
        iyz="-4.9621E-15"
        izz="50.776" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://terrain-lab_small/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://terrain-lab_small/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>