<?xml version="1.0" ?>
<model>
    <name>terrain-rail_lift</name>
    <version>1.0</version>
    <sdf version="1.6">terrain-rail_lift.sdf</sdf>
    <author>
        <name>Skywalker1941</name>
        <email>skywalker1941@163.com</email>
    </author>
    <description>
        The model of rail_lift in lab.
    </description>
</model>
