<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="model-stepfield">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.1052E-15 2.1335E-15 0.14702"
        rpy="0 0 0" />
      <mass
        value="904.37" />
      <inertia
        ixx="42.723"
        ixy="-1.8513E-13"
        ixz="7.2218E-15"
        iyy="18.401"
        iyz="4.3559E-14"
        izz="41.622" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://model-stepfield/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://model-stepfield/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>