<?xml version="1.0" ?>
<model>
    <name>plate_obstacle</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Skywalker1941</name>
        <email>skywalker1941@163.com</email>
    </author>
    <description>
        The model of plate_obstacle for test.
    </description>
</model>
