<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="model-highplate-1_0">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.599999999999998 0.618000000000001 0.70357142857143"
        rpy="0 0 0" />
      <mass
        value="74.025" />
      <inertia
        ixx="22.8340058035714"
        ixy="7.54171031180919E-15"
        ixz="1.55348231426529E-14"
        iyy="22.8340058035714"
        iyz="1.20888747672957E-14"
        izz="30.424275" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://model-highplate-1_0/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://model-highplate-1_0/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>