<?xml version="1.0" ?>
<model>
    <name>model-highplate-1_0</name>
    <version>1.0</version>
    <sdf version="1.6">model-highplate-1_0.sdf</sdf>
    <author>
        <name>Skywalker1941</name>
        <email>skywalker1941@163.com</email>
    </author>
    <description>
        The model of highplate-1_0 in lab.
    </description>
</model>
