<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="model-slope">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.2463 -0.6 0.47751"
        rpy="0 0 0" />
      <mass
        value="143.39" />
      <inertia
        ixx="45.301"
        ixy="-1.6662E-14"
        ixz="20.247"
        iyy="84.673"
        iyz="2.0075E-14"
        izz="91.354" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://model-slope/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://model-slope/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>