<?xml version="1.0" ?>
<model>
    <name>terrain-highplate_100_long</name>
    <version>1.0</version>
    <sdf version="1.6">terrain-highplate_100_long.sdf</sdf>
    <author>
        <name>phn_nudt@163.com</name>
        <email>phn_nudt@163.com</email>
    </author>
    <description>
        The model of highplate_100cm_160cm in lab.
    </description>
</model>
