<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wall-room-rough">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.4199E-15 9.4001E-15 2.6266"
        rpy="0 0 0" />
      <mass
        value="72272" />
      <inertia
        ixx="2047100"
        ixy="3.1237E-10"
        ixz="-7.1616E-10"
        iyy="2005500"
        iyz="9.3517E-11"
        izz="4020500" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall-room-rough/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall-room-rough/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>