<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"> -->
        <!-- <arg name="world_name" value="$(find gazebo_description)/world/Pumbaa_labfield.world" /> -->
        <!-- <arg name="world_name" value="$(find gazebo_description)/world/labfield.world" /> -->
        <!-- <arg name="world_name" value="$(find gazebo_description)/world/paper_1.world" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include> -->
    <!--teleop joy-->
	<!-- <node name="nubot_teleop_joy" pkg="nubot_teleop" type="teleop_base2_gazebo_joy.py" output="screen"/> -->
    <!--teleop keyboard-->
	<!-- <node name="nubot_teleop_keyboard" pkg="nubot_teleop" type="teleop_keyboard.py" output="screen"/> -->
    <!--teleop twist keyboard-->
    <!-- <node name="teleop_twist_keyboard" pkg="nubot_teleop" type="teleop_twist_keyboard.py" output="screen"/> -->
    <!--teleop joy fin_auto-->
    <param name = "~dev_ff" type = "string" value = "/dev/input/event24" />
    <node pkg="joy" type="joy_node" name="joy_node"/>
	<node pkg="nubot_teleop" type="teleop_base2_fin_auto_joy.py" name="nubot_teleop_joy" output="screen"/>
</launch>
