<?xml version="1.0" ?>
<model>
    <name>NuBot_Pumbaa_v2</name>
    <version>1.0</version>
    <sdf version="1.6">model_v2.sdf</sdf><!-- model_v2.sdf model_v2.urdf.xacro -->
    <author>
        <name>Skywalker1941</name>
        <email>skywalker1941@163.com</email>
    </author>
    <description>
        The model of NuBot_Pumbaa v2.1 tracked vehicle.
    </description>
</model>
