<?xml version="1.0" ?>
<model>
    <name>terrain-15double_slope</name>
    <version>1.0</version>
    <sdf version="1.6">terrain-15double_slope.sdf</sdf>
    <author>
        <name>phn_nudt@163.com</name>
        <email>phn_nudt@163.com</email>
    </author>
    <description>
        The model of slope in lab.
    </description>
</model>
